@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;700&display=swap');

$primary:#D0D1D3;
$secondary:#21CE99;
$white:#FFFFFF;
$darkerPrimary:#898D90;
$dark:#040D14;


.moreInfoArrow {
    position: relative;
    background-color: $white;
    color: $dark;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 10px;
      border: solid $dark;
      border-width: 0 2px 2px 0;
      padding: 5px;
      transform: translate(-50%, -50%) rotate(45deg);
    }
}

* {
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family:'Montserrat';
    font-weight:400;
    font-size: 3vmin;
}
.bold {
    font-weight:700;
}

h1 {
    font-size:3.5rem;
    color:$dark;
}
h2 {
    margin:5px;
    font-size:2rem;
    color:$dark;
}

.myAssets {
    margin:5px;
    margin-top:25px;
    margin-bottom:15px;
    font-size:1.25rem;
}


.money {
    font-size:1.25rem;
    color:$dark;
    font-weight:200;
}

.positive {
    color:$secondary;
}

.negative {
    color:#f24930;
}

.horizontalContainer {
    display:flex;
    width:100%;
}

.columnContainer {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    min-height:100vh;
    div {
        margin: 1vh;
        display:flex;
        width:auto;
        justify-content:space-between;
    }
}

.formContainer {
    display:flex;
    flex-direction:column;
}

.assetContainer {
    margin:5px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    width: 100%;
    div {
        width: 25%;
    }
}

.dashboardContainer {
    display:flex;
    flex-direction: column;
    div {
        margin: 5px;
    }
}

.portfolioContainer {
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    margin: 3%;
    .container {
        width:80%
    }
}

.moreInfoContainer {
    display:flex;
    flex-direction:column;
    margin:5px;
    margin-top: 15px;
    margin-bottom: 15px;
    ul {
        li {
            margin-top:2px;
            margin-bottom:2px;
        }
    }
    div {
        margin-top:2px;
        margin-bottom:2px;
    }
}

.lookupInput {
    width:65%;
    margin:5px;
    margin-right:10px;
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	font-weight: 400;
	transition: .2s;
    &:hover, &:focus, &:active {
        outline: none;
        border-bottom-color:$secondary;
      }
}

.loginInput {
    margin:10px;
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding: 10px;
	font-weight: 400;
	transition: .2s;
    &:hover, &:focus, &:active {
        outline: none;
        border-bottom-color:$secondary;
      }
}

.sellInput {
    margin-right:30px;
    width:40%;
    height:50px;
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	font-weight: 400;
	transition: .2s;
    &:hover, &:focus, &:active {
        outline: none;
        border-bottom-color:$secondary;
      }
}

.primaryButton {
    width: 1fr;
    margin:10px;
    background-color: $secondary;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  
    &:hover, &:focus {
      background-color: #17a77e;
      transform: scale(1.05);
      outline: none;
    }
}

.secondaryButton {
    width:1fr;
    margin:10px;
    background-color: $white;
    color: $secondary;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  
    &:hover, &:focus {
      transform: scale(1.05);
      outline: none;
    }
}

.sellButton {
    width:1fr;
    background-color: $white;
    color: $secondary;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    &:hover, &:focus {
      transform: scale(1.05);
      outline: none;
    }
}

.buyButton {
    width: 1fr;
    margin:8px;
    background-color: $secondary;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  
    &:hover, &:focus {
      background-color: #17a77e;
      transform: scale(1.05);
      outline: none;
    }
}

